asammdf==8.2.9
cantools==40.2.1
python-can==4.5.0
numpy>=2.0.0
pandas>=2.2.2
pydantic>=2.4.0
lxml>=4.9.2
natsort>=8.3.1
lz4>=4.3.2
python-dateutil>=2.8.2
h5py>=3.8.0
hdf5storage>=0.1.19
matplotlib>=3.7.2 